 .App {
  text-align: center;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  font-family: 'Montserrat', sans-serif !important;
}
.main_container{
  background-color: antiquewhite;
}
.card_detail{
  background-color: whitesmoke;
  /* border: 1px solid black; */
  margin: 20px;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  width:270px;
  border-radius: 10px;
  /* padding: 5px 0px; */
}

.search_user_name{
  margin :30px 0;
  padding: 5px 10px;
  border-radius: 5px;
}

.search_user_name input{
  align-items: center;
justify-content: center;
text-align: center;
}

.user_name{
  font-weight: bold;
}
